.listings {
  display:inline-block;
}

.list {
  margin-top: 8.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  column-count:4;
}
.images{
  margin-top: 1rem;
  height:200px;
  width: 200px;
  overflow:hidden;
  border-radius: 50%;
  object-fit: cover;
}
.card {
  display:inline-block;
  text-align: center;
}