.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #163840;
  height: 8rem;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%
  }

.App-logo {
  height: 170px;
  width: 437px;
  margin-left: 1rem;
  margin-top: 6rem;
  font-family: rift;
}

.App-logo a {
  color: white;
  text-decoration: none;

  
}

.spacer {
  flex: 10;
}

.nav-pages ul {
list-style: none;
margin: 0;
padding:0;
display: flex;
}

.nav-pages li {
padding: 0.5rem;


}

.nav-pages a {
  color: white;
  text-decoration: none;
}

.nav-pages a:hover,
.nav-pages a:active {
  color: orange;
}

@media (max-width: 768px) {
  .nav-pages li {
    display: none;
  }
  .App-logo {
    text-align: right;

  }
}

@media (min-width: 769px) {
.toolbar-toggle-button {
  display: none;
  }
}