.project_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow:hidden;
  object-fit: cover;
}

.player {
  padding-right: 4em;
}

.book {
  border: 1px solid #eee;
  
}

.project-title {
  margin-bottom: 2rem;
}