

.list {
  margin-top: 7rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}

.list:hover, 
.list:active {
  color: grey;
  cursor: pointer;
}
.image {
  margin-top: 3rem !important;
  height:200px;
  width: 200px;
  overflow:hidden;
  border-radius: 50%;
  object-fit: cover;
}

.card.pin {
  column-count: 2;
}

.avatars {
  display: flex;
  direction: row;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.avatars:hover,
.avatars:active {
  color: orange;

}