.containter {
  width: 100%
}

.main {
  margin-top: 300px;
  display: flex;
  margin-bottom: 500px;
}

.profile {
  display: inline-block;
  width: 100%;
  flex: 0,0,30%;
}
.project {
  display: flex;
  width: 100%;
  flex: 0,0,70%
}
