

main {
  margin-top: 300px;
  display: flex;
}

.profile {
  display: flex;
  justify-content: center;
  border: solid black;
  flex: 1 1 30%;
}
.project {
  display: flex;
  border: solid grey;
  flex: 1 1 70%
}
